@import '@styles/declarations';

.TestCard-Container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-height: 528px;

    padding: 40px;

    background-color: $colorBackground;
    border-radius: $borderRadiusBig;
}

.TestCard-Title {
    @include font(24px, $weight: 700);
}
