@import 'variables';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font($size: null, $color: null, $weight: null, $lineHeight: null) {
    @if ($size) {
        font-size: $size;
    }
    @if ($color) {
        color: $color;
    }
    @if ($weight) {
        font-weight: $weight;
    }
    @if ($lineHeight) {
        line-height: $lineHeight;
    }
}
