$maxWidthPageContent: var(--max-width-page-content);

$colorText: var(--color-text);
$colorBackground: var(--color-background);
$colorAccent: var(--color-accent);
$colorSuccess: var(--color-success);
$colorFail: var(--color-fail);

$borderRadius: var(--border-radius);
