$maxWidthPageContent: var(--max-width-page-content);

$colorText: var(--color-text);
$colorTextSecondary: var(--color-text-secondary);
$colorBackground: var(--color-background);
$colorAccent: var(--color-accent);
$colorRight: var(--color-right);
$colorWrong: var(--color-wrong);

$borderRadiusBig: var(--border-radius-big);
$borderRadiusSmall: var(--border-radius-small);
