$maxWidthPageContent: var(--max-width-page-content);

$colorText: var(--color-text);
$colorBackground: var(--color-background);
$colorAccent: var(--color-accent);
$colorRight: var(--color-right);
$colorWrong: var(--color-wrong);

$borderRadius: var(--border-radius);
