@import '@styles/declarations';

.Test {
    max-width: 886px;

    margin: 0 auto;

    &-Title {
        margin-bottom: 20px;

        hyphens: auto;
        @include font(48px, $weight: 800);
    }
}
